# Enable mod_rewrite
RewriteEngine On

# Set the base directory for the rewrite rules
RewriteBase /

# Exclude the "public" folder from rewrite rules
RewriteRule ^(public)($|/) - [L]

# Redirect all requests to the "public" folder
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]

# Rewrite URLs to index.php for front controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/index.php [L,QSA]
